<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This Weather app was created by <strong>Shubham Sharma</strong>. New functionality and features will be
            added. This
            is a
            bare bone app and will be updated frequently.
        </p>
    </div>

    {{>footer}}
</body>

</html>